body {
  margin: 0;
  margin-bottom: 30px;
  background: #ffdb4f;
  color: #111;
  font-family: helvetica, arial, sans-serif;
  text-align: left;
}

header {
  padding: 25px;
  background: #444;
  color: #fff;
}

header a {
  color: #fff !important;
}

body>div a {
  color: initial !important;
}

h2 {
  margin-top: 2em;
}

body>div{
  width: 90%;
  max-width: 450px;
  margin: auto;
}

body>div:first-of-type {
  max-width: 550px;
  text-align: center;
}

body>div:first-of-type h1 {
  font-size: 3.5em;
  margin-bottom: 0;
}

body>div:first-of-type p {
  font-size: 1.5em;
}

#js-write h2,
#js-write input[type="text"],
#js-write textarea,
#js-write #js-submit {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

#js-write input[type="text"],
#js-write textarea {
  margin: 10px 0;
  padding: calc(15px + 1.3em) 15px 15px;
  background-color: rgba(255, 255, 255, 0.6);
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  resize: none;
  cursor: text;
  font-size: 1em;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.15;
  overflow: hidden;
}

#js-write input[type="text"]:hover,
#js-write textarea:hover {
  background-color: rgba(245, 245, 245, 0.6);
}

#js-write div:first-of-type,
#js-write div:nth-of-type(2) {
  position: relative;
}

#js-write label:not([for="js-confirm"]) {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: .8em;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.15;
}

#js-write div:nth-of-type(3) input[type="checkbox"] {
  display: inline;
}

#js-write div:nth-of-type(3) label {
  display: inline;
  position: relative;
}

#js-write #js-submit {
  margin-top: 15px;
  padding: 15px 0;
  background: #444;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

#js-write.submitted {
  padding: 10px;
  border: 2px #111 solid;
  text-align: center;
}

#js-read {
  display: inline-block;
  padding: 0;
  list-style-type: none;
}

#js-read li {
  margin-bottom: 1em;
}
